<%= form_for @consumable_type, html: {"data-behavior": "consumable_type_form"} do |f| %>
rails
    <div class="form-group">
      <%= f.label :name, "Name*" %>
      <%= f.text_field :name, { class: 'form-control' } %>
    </div>

    <div class="form-group">
      <%= f.label :days_to_keep, "Days to Keep*" %>
      <%= f.text_field :days_to_keep, { class: 'form-control' } %>
    </div>

    <div class="form-group">
      <%= f.label :storage_condition %>
      <%= f.select :storage_condition, ConsumableType.storage_conditions.keys, { include_blank: true }, { class: 'form-control' } %>
    </div>

    <div class="form-group">
      <%= f.submit nil, { class: 'btn btn-primary' } %>
    </div>
<% end %>