<td>
  <select class="form-control" name="batch_form[lots][][ingredient_id]"
          id="batch_form_lots__ingredient_id">
    <option value=""></option>
    <% ingredientTypes.map(function(ingredient) { %>
      <option <%= (lot.get('ingredient') && ingredient.id == lot.get('ingredient').id) ? "selected" : "" %>
        value="<%= ingredient.id %>"><%= ingredient.name %> <%= ingredient.supplier %> <%= ingredient.product_code %></option>
    <% }) %>
  </select>
</td>
<td>
  <input class="form-control" type="text" value="<%= lot.get('number') %>"
         name="batch_form[lots][][number]" id="batch_form_lots__number" />
</td>
<td class="valign"><a data-behavior="remove_row" href="#"><i class="fa fa-times"></i></a></td>
